.form-control {
  outline: none;
  border-radius: 0;
  box-shadow: 0;
  border: solid;
  border-width: 5px;
  border-color: black;
  padding-top: 0;
  padding-bottom: 0;
  width: 80%;
  display: inline-block;
  transition: none;
}

