:root {
  font-size: 250%;
}

html, body {
  height: 100%;
  margin: 0;
}

.p-shadow-white {
  text-shadow: 
    .03rem .03rem white,
    .06rem .06rem white,
    .09rem .09rem white;
}

.p-shadow-black {
  text-shadow: 
    .03rem .03rem black,
    .06rem .06rem black,
    .09rem .09rem black;
}

.h-shadow-white {
  text-shadow: 
    .03rem .03rem white,
    .06rem .06rem white,
    .09rem .09rem white,
    .12rem .12rem white,
    .15rem .15rem white;
}

.h-shadow-black {
  text-shadow: 
    .03rem .03rem black,
    .06rem .06rem black,
    .09rem .09rem black,
    .12rem .12rem black,
    .15rem .15rem black;
}


main {
  height: 100%;
  font-family: "Bytesized", sans-serif;
  font-size: 1rem;
  padding-right: 20%;
  padding-left: 20%;
  overflow: auto;
}

@media only screen and (max-width:900px) {
  main {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  :root {
    font-size: 200%
  }
}

p {
  padding: 0.25rem;
  line-height: 0.75rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

