:root {
  font-size: 200%;
}

html, body {
  height: 100%;
}

main {
  overflow: auto;
  padding-bottom: 0.5rem;
  height: 100%;
  font-family: "Bytesized", sans-serif;
  font-size: 1rem;
}

P {
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

