ul {
  margin-top: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0remq;
  line-height: 0.75rem;
}

li {
  text-align: center;
}

li a {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

li a:hover {
  transform: scale(1.1);
}
