ul {
  column-gap: 0px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

li {
  text-align: center;
}

li a {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 40px;
}



li a:hover {
  transform: scale(1.1);
}
